header {

    background-color: $bg-nav;

    .header-container {

        margin: auto;
        display: flex;

        @media screen and (min-width:723px) {
            width: $width-container;
        }

    }

    nav {

        width: 100%;
        @extend .display-nav;
        padding: $margin-nav;
        flex-direction: column;

        @media screen and (min-width:723px) {
            flex-direction: row;
            justify-content: space-between;
        }

     ul {

        @extend .display-nav;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        
        }

       li {

            color: white;
            margin-right: $space-nav;
        }
                
        img{
            width: 10%;
            margin-right: $space-nav;
        }
    
        .search-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; 

            i {
            color: white;
            }

            img {
                width: 100%;
                border-radius: $img-radius;
                
            }
            
            .img-top-right {
                width: 10%;
            }
        }

       
    
    }

}